@model IList<ELMS.WEB.Areas.Loan.Models.LoanViewModel>

<table class="display table datatable responsive hover compact" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-description font-weight-normal">Loan name</th>
            <th class="th-description font-weight-normal">Loaner</th>
            <th class="th-description font-weight-normal">Loanee</th>
            <th class="th-description font-weight-normal">Equipment</th>
            <th class="th-description font-weight-normal">Start Date</th>
            <th class="th-description font-weight-normal">End Date</th>
            <th class="th-description font-weight-normal">Status</th>
            <th class="th-description font-weight-normal">Terms and Conditions Accepted</th>
            <th class="th-description font-weight-normal">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in Model.OrderByDescending(x => x.CreatedTimestamp))
        {
            <tr>
                <td>@loan.Name</td>
                <td>@loan.Loaner.Email</td>
                <td>
                    @if (loan.Loanee == null)
                    {
                        @loan.LoaneeEmail
                    }
                    else
                    {
                        @loan.Loanee.Email
                    }
                </td>
                <td>
                    <ul class="list-group list-group-flush">
                        @foreach (var equipment in Model.FirstOrDefault(x => x.UID == loan.UID).EquipmentList)
                        {
                            <li class="list-group-item"><a class="loanDetailsModal text-primary" data-url="/Equipment/Equipment/DetailsModal" data-uid="@equipment.UID" style="cursor: pointer">@equipment.Name</a></li>
                        }
                    </ul>
                </td>
                <td>@loan.FromTimestamp</td>
                <td>@loan.ExpiryTimestamp</td>
                <td>@loan.Status.ToString()</td>
                <td>@loan.AcceptedTermsAndConditions</td>
                <td class="td-actions">
                    <a class="btn btn-primary text-white" asp-area="Loan" asp-controller="Loan" asp-action="DetailsView" asp-route-uid="@loan.UID"><i class="fas fa-eye p-1"></i></a>
                    <a class="deleteEquipment btn btn-danger text-white" href="#" data-toggle="tooltip" data-placement="left" title="Manually end loan"><i class="fas fa-backward p-1"></i></a>
                    <a class="deleteEquipment btn btn-danger text-white" asp-area="Loan" asp-controller="Loan" asp-action="AcceptTermsAndConditionsView" asp-route-loanuid="@loan.UID"><span class="p-1">TAC</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>