@model ELMS.WEB.Areas.Email.Models.EmailTemplate.IndexViewModel

@{
    ViewData["Title"] = "Email Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-end align-items-center">
            <div>
                <a class="btn btn-success" asp-area="Email" asp-controller="EmailTemplate" asp-action="CreateView">New Email Template</a>
            </div>
        </div>

        <div class="card mt-2">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Email Template Table</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display table datatable responsive hover compact" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-description font-weight-normal">Name</th>
                                <th class="th-description font-weight-normal">Header</th>
                                <th class="th-description font-weight-normal">Subheader</th>
                                <th class="th-description font-weight-normal">Subject</th>
                                <th class="th-description font-weight-normal">Body</th>
                                <th class="th-description font-weight-normal">Footer</th>
                                <th class="th-description font-weight-normal">Format</th>
                                <th class="th-description font-weight-normal">Created By</th>
                                <th class="th-description font-weight-normal">Created On</th>
                                <th class="th-description font-weight-normal th-actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var template in Model.EmailTemplates)
                            {
                                <tr>
                                    <td class="td-name">@template.Name</td>
                                    <td class="td-name">@template.Header</td>
                                    <td class="td-name">@template.Subheader</td>
                                    <td class="td-name">@template.Subject</td>
                                    <td class="td-name">@template.Body</td>
                                    <td class="td-name">@template.Footer</td>
                                    <td class="td-name">@template.TemplateType.ToString()</td>
                                    <td class="td-name">@template.OwnerUID</td>
                                    <td class="td-name">@template.CreatedTimestamp</td>
                                    <td class="td-name">
                                        <div class="dropdown show">
                                            <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" asp-area="Email" asp-controller="EmailTemplate" asp-action="EditView" asp-route-uid="@template.UID"><i class="fas fa-pen mr-2"></i> Edit</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item deleteEmailTemplate" href="javascript:;" data-url="/Email/EmailTemplate/DeleteModal" data-uid="@template.UID"><i class="fas fa-trash mr-2"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/areas/email/emailtemplate/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/email/emailtemplate/index.js"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $('#navItemEmails').addClass('active');
            $('#navCollapseEmails').addClass('show');
            $('#navItemEmailTemplates').addClass('active');
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}