@model ELMS.WEB.Areas.Equipment.Models.DetailsViewModel
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Equipment Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <a class="btn btn-outline-primary w-100" asp-area="Equipment" asp-controller="Equipment" asp-action="Index"><i class="fas fa-backward mr-2"></i> Back to Equipment list</a>
        </div>
        <div class="card my-2">
            <div class="d-flex py-4 px-4 align-items-center">
                <div class="col-md-2 col-sm-12 px-0">
                    @if (Model.EquipmentMedia.Count > 0)
                    {
                        <img src="@Model.EquipmentMedia[0].Blob.Path" alt="Image" class="w-50 rounded" />
                    }
                    else
                    {
                        <i class="fas fa-image fa-8x text-gray"></i>
                    }
                </div>
                <div class="col-md-10 col-sm-12 p-0">
                    <h3><strong>@Model.Equipment.Name</strong></h3>
                    @if (Model.Equipment.Status == ELMS.WEB.Enums.Equipment.Status.Available)
                    {
                        <p><i class="fas fa-circle text-success"></i><span class="ml-2">@Model.Equipment.Status</span></p>
                    }
                    else
                    {
                        <p><i class="fas fa-circle text-danger"></i><span class="ml-2">@Model.Equipment.Status</span></p>
                    }
                </div>
            </div>
        </div>
        <div class="card my-3">
            <div class="container-fluid card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <ul class="nav nav-pills nav-pills-icons flex-column pl-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tabDetails" data-toggle="tab">
                                    <i class="material-icons">subject</i>
                                    Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabNotes" data-toggle="tab">
                                    <i class="material-icons">note</i>
                                    Notes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabMedia" data-toggle="tab">
                                    <i class="fas fa-image"></i>
                                    Images
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabHistory" data-toggle="tab">
                                    <i class="material-icons">history</i>
                                    Loan History
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabSettings" data-toggle="tab">
                                    <i class="material-icons">settings</i>
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <div class="tab-content tab-space pt-2">
                            <div class="tab-pane active" id="tabDetails">
                                <form class="formDetails" asp-area="Equipment" asp-controller="Equipment" asp-action="Edit" enctype="multipart/form-data">
                                    <input asp-for="Equipment.UID" type="hidden" />
                                    <input asp-for="Equipment.OwnerUID" type="hidden" />

                                    <div class="form-group mb-4">
                                        <label asp-for="Equipment.Name" class="bmd-label-floating"></label>
                                        <input type="text" class="form-control" asp-for="Equipment.Name">
                                        <small class="form-text text-danger" asp-validation-for="Equipment.Name"></small>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label asp-for="Equipment.SerialNumber" class="bmd-label-floating"></label>
                                        <input type="text" class="form-control" asp-for="Equipment.SerialNumber">
                                        <small class="form-text text-danger" asp-validation-for="Equipment.SerialNumber"></small>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label asp-for="Equipment.Status" style="font-size: .6875rem"></label>
                                        <select class="form-control selectpicker" data-style="btn btn-link" asp-for="Equipment.Status" asp-items="Html.GetEnumSelectList<ELMS.WEB.Enums.Equipment.InitialStatus>()">
                                        </select>
                                        <small class="form-text text-danger" asp-validation-for="Equipment.Status"></small>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label asp-for="Equipment.Description" class="bmd-label-floating"></label>
                                        <textarea class="form-control" asp-for="Equipment.Description" rows="3"></textarea>
                                        <small class="form-text text-danger" asp-validation-for="Equipment.Description"></small>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label asp-for="Equipment.WarrantyExpirationDate" class="bmd-label-floating"></label>
                                        <input class="form-control datetimepicker" asp-for="Equipment.WarrantyExpirationDate" />
                                        <small class="form-text text-danger" asp-validation-for="Equipment.WarrantyExpirationDate"></small>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label asp-for="Equipment.PurchasePrice" class="bmd-label-floating"></label>
                                        <input type="number" class="form-control" asp-for="Equipment.PurchasePrice">
                                        <small class="form-text text-danger" asp-validation-for="Equipment.PurchasePrice"></small>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label asp-for="Equipment.ReplacementPrice" class="bmd-label-floating"></label>
                                        <input type="number" class="form-control" asp-for="Equipment.ReplacementPrice">
                                        <small class="form-text text-danger" asp-validation-for="Equipment.ReplacementPrice"></small>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label asp-for="Equipment.PurchaseDate" class="bmd-label-floating"></label>
                                        <input class="form-control datetimepicker" asp-for="Equipment.PurchaseDate" />
                                        <small class="form-text text-danger" asp-validation-for="Equipment.PurchaseDate"></small>
                                    </div>

                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-success btn-edit-submit col-sm-12 col-md-2">Update Details</button>
                                    </div>
                                </form>
                                <button class="btn btn-primary btn-edit-lock col-sm-12 col-md-2"><i class="fas fa-lock-open mr-2"></i> Unlock Edit Mode</button>
                            </div>
                            <div class="tab-pane" id="tabNotes">
                                @if ((await AuthorizationService.AuthorizeAsync(User, "CreateNotePolicy")).Succeeded)
                                {
                                    <div class="mb-2">
                                        <a class="createNote btn btn-primary text-white" data-url="/Equipment/Note/CreateModal" data-uid="@Model.Equipment.UID">New Note</a>
                                    </div>
                                }

                                @if ((await AuthorizationService.AuthorizeAsync(User, "ViewNotePolicy")).Succeeded)
                                {
                                    @if (Model.Notes.Count <= 0)
                                    {
                                        <div>
                                            <p>No notes have been added to this equipment yet.</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="list-group">
                                            @foreach (var note in Model.Notes.OrderByDescending(x => x.CreatedTimestamp).ToList())
                                            {
                                                <div class="border list-group-item flex-column align-items-start text-dark mb-2">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <div class="col-sm-12 col-md-8 p-0">
                                                            <h5 class="mb-1">@note.Name</h5>
                                                            <p class="mb-1">@note.Description</p>
                                                            <small>Made by @(note.OwnerUID == Guid.Empty.ToString() ? "Anonymous" : note.Owner.Email)</small>
                                                        </div>
                                                        <div class="col-sm-12 col-md-4 p-0 text-right">
                                                            <p class="mb-1">Created on @note.CreatedTimestamp</p>
                                                            @if (note.OwnerUID == User.FindFirstValue(ClaimTypes.NameIdentifier))
                                                            {
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Action
                                                                    </button>
                                                                    <div class="dropdown-menu">
                                                                        @if ((await AuthorizationService.AuthorizeAsync(User, "EditEquipmentPolicy")).Succeeded)
                                                                        {
                                                                            <a class="editNote dropdown-item" href="javascript:;" data-url="/Equipment/Note/EditModal" data-uid="@note.UID">Edit</a>
                                                                        }

                                                                        @if ((await AuthorizationService.AuthorizeAsync(User, "DeleteEquipmentPolicy")).Succeeded)
                                                                        {
                                                                            <a class="deleteNote dropdown-item" href="javascript:;" data-url="/Equipment/Note/DeleteModal" data-uid="@note.UID">Delete</a>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                            <div id="tabMedia" class="tab-pane">
                                <div>
                                    <form asp-area="General" asp-controller="Media" asp-action="UploadEquipmentMedia" enctype="multipart/form-data">
                                        <input type="hidden" asp-for="UploadMedia.EquipmentUID" />
                                        <div class="form-group form-file-upload form-file-simple row justify-content-between align-items-center">
                                            <input type="text" class="form-control inputFileVisible col-sm-12 col-md-9" placeholder="Select file(s)" multiple>
                                            <input type="file" class="inputFileHidden" multiple="" asp-for="UploadMedia.MediaFiles">
                                            <button class="btn btn-primary col-sm-12 col-md-2" type="submit">Upload</button>
                                        </div>
                                    </form>
                                    <div>
                                        <table class="display table datatable-no-options responsive hover compact border p-3" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="th-description">Photo</th>
                                                    <th class="th-description">Image Created On</th>
                                                    <th class="th-description th-actions">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var mediaItem in Model.EquipmentMedia)
                                                {
                                                    <tr>
                                                        <td class="td-name"><img width="350" src="@mediaItem.Blob.Path" alt="Image" /></td>
                                                        <td class="td-name">@mediaItem.CreatedTimestamp</td>
                                                        <td class="td-name">
                                                            <a class="btn btn-danger text-white deleteImage" data-url="/General/Media/DeleteEquipmentMediaModal" data-uid="@mediaItem.UID"><i class="fas fa-trash mr-2"></i> Remove Image</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabHistory">
                                <div class="table-responsive">
                                    <table class="display table datatable responsive" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="th-description">Reference ID</th>
                                                <th class="th-description">Loaned by</th>
                                                <th class="th-description">Loaned to</th>
                                                <th class="th-description">From</th>
                                                <th class="th-description">To</th>
                                                <th class="th-description">Status</th>
                                                <th class="th-description">Extensions Applied</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var loan in Model.Loans)
                                            {
                                            <tr>
                                                <td class="td-name">@loan.UID</td>
                                                <td class="td-name">@loan.LoanerEmail</td>
                                                <td class="td-name">@loan.LoaneeEmail</td>
                                                <td class="td-name">@loan.FromTimestamp</td>
                                                <td class="td-name">@loan.ExpiryTimestamp</td>
                                                <td class="td-name">@loan.Status</td>
                                                <td class="td-name">
                                                    <ul class="list-group list-group-flush">
                                                        @foreach (var extension in loan.Extensions)
                                                        {
                                                            <li class="list-group-item pl-0">@extension.PreviousExpiryDate.ToShortDateString() <i class="fas fa-arrow-right"></i> @extension.NewExpiryDate.ToShortDateString()</li>
                                                        }
                                                    </ul>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabSettings">
                                <a class="deleteEquipment btn btn-danger text-white" data-url="/Equipment/Equipment/DeleteModal" data-uid="@Model.Equipment.UID">Delete Equipment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#navItemEquipment').addClass('active');
        $('.selectpicker').selectpicker();

        // FileInput
        $('.form-file-simple .inputFileVisible').click(function () {
            $(this).siblings('.inputFileHidden').trigger('click');
        });

        $('.form-file-simple .inputFileHidden').change(function () {
            var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
            $(this).siblings('.inputFileVisible').val(filename);
        });

        $('.form-file-multiple .inputFileVisible, .form-file-multiple .input-group-btn').click(function () {
            $(this).parent().parent().find('.inputFileHidden').trigger('click');
            $(this).parent().parent().addClass('is-focused');
        });

        $('.form-file-multiple .inputFileHidden').change(function () {
            var names = '';
            for (var i = 0; i < $(this).get(0).files.length; ++i) {
                if (i < $(this).get(0).files.length - 1) {
                    names += $(this).get(0).files.item(i).name + ',';
                } else {
                    names += $(this).get(0).files.item(i).name;
                }
            }
            $(this).siblings('.input-group').find('.inputFileVisible').val(names);
        });

        $('.form-file-multiple .btn').on('focus', function () {
            $(this).parent().siblings().trigger('focus');
        });

        $('.form-file-multiple .btn').on('focusout', function () {
            $(this).parent().siblings().trigger('focusout');
        });
    </script>
    <environment include="Development">
        <script src="~/js/areas/equipment/details.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/equipment/details.min.js"></script>
    </environment>
    <partial name="Components/_NotificationSnippet" />
}