@model ELMS.WEB.Areas.Equipment.Models.IndexViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Equipment Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card card-stats mb-0">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="fas fa-warehouse"></i>
                </div>
                <div class="card-category">Available Equipment</div>
                <h2 class="card-title">@Model.AvailableEquipmentCount</h2>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a asp-area="Equipment" asp-controller="Equipment" asp-action="AvailableEquipmentView">View Available Equipment</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-stats mb-0">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="fas fa-sign-in-alt"></i>
                </div>
                <div class="card-category">Equipment On-Loan</div>
                <h2 class="card-title">@Model.OnLoanEquipmentCount</h2>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a asp-area="Equipment" asp-controller="Equipment" asp-action="OnLoanEquipmentView">View Equipment On-Loan</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-stats mb-0">
            <div class="card-header card-header-icon card-header-danger">
                <div class="card-icon">
                    <i class="fas fa-calendar-times"></i>
                </div>
                <div class="card-category">Warranty Expired Equipment</div>
                <h2 class="card-title">@Model.WarrantyExpiredEquipmentCount</h2>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a asp-area="Equipment" asp-controller="Equipment" asp-action="ExpiredView">View Expired Equipment</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row justify-content-between align-items-center col-12 m-0 px-0 py-2">
            <div>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                    <i class="material-icons mr-2">filter_alt</i>Show Filters
                </button>
            </div>
            <div>
                @if ((await AuthorizationService.AuthorizeAsync(User, "CreateEquipmentPolicy")).Succeeded)
                {
                    <a class="create btn btn-success text-white" asp-area="Equipment" asp-controller="Equipment" asp-action="CreateView">New Equipment</a>
                }
                @*<div class="btn-group">
                    <a class="btn btn-primary"><i class="text-white fas fa-th-large"></i></a>
                    <a class="btn btn-primary active"><i class="text-white fas fa-bars"></i></a>
                </div>*@
            </div>
            <div class="col-12 p-0 collapse" id="collapseFilters">
                <div class="card my-2">
                    <div class="card-header">
                        <h4 class="card-title">Filters</h4>
                    </div>
                    <div class="card-body">
                        <form asp-area="Equipment" asp-controller="Equipment" asp-action="FilterIndex">
                            <div class="form-row">
                                <div class="form-group col-sm-12 col-md-3">
                                    <label asp-for="Filter.Name"></label>
                                    <input type="text" class="form-control" asp-for="Filter.Name" />
                                </div>
                                <div class="form-group col-sm-12 col-md-3">
                                    <label asp-for="Filter.Description"></label>
                                    <input type="text" class="form-control" asp-for="Filter.Description" />
                                </div>
                                <div class="form-group col-sm-12 col-md-3">
                                    <label asp-for="Filter.SerialNumber"></label>
                                    <input type="text" class="form-control" asp-for="Filter.SerialNumber" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6 col-md-3">
                                    <label asp-for="Filter.PurchaseDateFrom"></label>
                                    <input type="date" class="form-control" asp-for="Filter.PurchaseDateFrom" />
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label asp-for="Filter.PurchaseDateTo"></label>
                                    <input type="date" class="form-control" asp-for="Filter.PurchaseDateTo" />
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <label asp-for="Filter.WarrantyExpirationDateFrom"></label>
                                    <input type="date" class="form-control" asp-for="Filter.WarrantyExpirationDateFrom" />
                                </div>
                                <div class="form-group col-sm-6 col-md-3">
                                    <label asp-for="Filter.WarrantyExpirationDateTo"></label>
                                    <input type="date" class="form-control" asp-for="Filter.WarrantyExpirationDateTo" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-12 col-md-3">
                                    <label asp-for="Filter.PurchasePriceFrom"></label>
                                    <input type="text" class="form-control" asp-for="Filter.PurchasePriceFrom" />
                                </div>
                                <div class="form-group col-sm-12 col-md-3">
                                    <label asp-for="Filter.PurchasePriceTo"></label>
                                    <input type="text" class="form-control" asp-for="Filter.PurchasePriceTo" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-12 col-md-3">
                                    <label class="w-100" asp-for="Filter.Statuses"></label>
                                    <select class="selectpicker" data-style="select-with-transition" multiple asp-for="Filter.Statuses" asp-items="Html.GetEnumSelectList<ELMS.WEB.Enums.Equipment.Status>()">
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn border border-primary btn-primary mr-2">Filter Equipment</button>
                            <a class="btn btn-outline-primary" asp-area="Equipment" asp-controller="Equipment" asp-action="Index">Reset Filters</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-0">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Equipment Table</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display table datatable-export responsive hover compact" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-description font-weight-normal">Photos</th>
                                <th class="th-description font-weight-normal">Name</th>
                                <th class="th-description font-weight-normal">Serial Number</th>
                                <th class="th-description font-weight-normal">Status</th>
                                <th class="th-description font-weight-normal">Warranty Expiration Date</th>
                                <th class="th-description font-weight-normal">Purchase Date</th>
                                <th class="th-description font-weight-normal">Purchase Price (&pound;)</th>
                                <th class="th-description font-weight-normal">Replacement Price (&pound;)</th>
                                <th class="th-description font-weight-normal th-actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var equipment in Model.Equipment)
                            {
                                <tr>
                                    <td class="td-name">
                                        <div class="justify-content-center py-2 text-center">
                                            @if (equipment.Blobs.Count > 0)
                                            {
                                                <img class="" width="100" src="@equipment.Blobs[0].Path" alt="Image" />
                                            }
                                            else
                                            {
                                                <i class="far fa-image fa-6x text-gray"></i>
                                            }
                                        </div>
                                    </td>
                                    <td class="td-name">@equipment.Name</td>
                                    <td class="td-name">@equipment.SerialNumber</td>
                                    <td class="td-name">@equipment.Status.ToString()</td>
                                    <td class="td-name">@equipment.WarrantyExpirationDate.ToShortDateString()</td>
                                    <td class="td-name">@equipment.PurchaseDate.ToShortDateString()</td>
                                    <td class="td-name">@equipment.PurchasePrice</td>
                                    <td class="td-name">@equipment.ReplacementPrice</td>
                                    <td class="td-name">
                                        <div class="dropdown show">
                                            <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" asp-area="Equipment" asp-controller="Equipment" asp-action="DetailsView" asp-route-uid="@equipment.UID"><i class="fas fa-pen mr-2"></i>Edit</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item deleteEquipment" href="#" data-url="/Equipment/Equipment/DeleteModal" data-uid="@equipment.UID"><i class="fas fa-trash mr-2"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/areas/equipment/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/equipment/index.min.js"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $('#navItemEquipment').addClass('active');
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}