@model ELMS.WEB.Areas.Email.Models.EmailSchedule.IndexViewModel

@{
    ViewData["Title"] = "Email Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="d-flex pull-left">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" id="statusDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Statuses</button>
                        <div class="dropdown-menu" aria-labelledby="statusDropdownMenuButton">
                            <a class="dropdown-item" href="javascript:;">All Statuses</a>
                            <a class="dropdown-item" href="javascript:;">Scheduled</a>
                            <a class="dropdown-item" href="javascript:;">Sent</a>
                            <a class="dropdown-item" href="javascript:;">ManuallySent</a>
                        </div>
                    </div>
                    <div class="ml-1">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                            <i class="material-icons mr-2">filter_alt</i>Show Filters
                        </button>
                    </div>
                </div>
                <div class="pull-right">
                    <a class="create btn btn-success text-white" data-url="/Email/EmailSchedule/CreateModal">New Email Schedule</a>
                    <div class="btn-group">
                        <a class="btn btn-primary"><i class="text-white fas fa-th-large"></i></a>
                        <a class="btn btn-primary active"><i class="text-white fas fa-bars"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 collapse" id="collapseFilters">
                <div class="card my-3">
                    <div class="card-header">
                        HIDDEN FILTERS
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-0">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">All Email Templates</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display table datatable responsive hover compact" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-description font-weight-normal">Email Template</th>
                                <th class="th-description font-weight-normal">Recipient Email</th>
                                <th class="th-description font-weight-normal">Email Type</th>
                                <th class="th-description font-weight-normal">Email Sent?</th>
                                <th class="th-description font-weight-normal">Scheduled For</th>
                                <th class="th-description font-weight-normal">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var schedule in Model.EmailSchedules)
                            {
                                <tr>
                                    <td class="td-name">
                                        @schedule.EmailTemplateUID
                                    </td>
                                    <td class="td-name">@schedule.RecipientEmail</td>
                                    <td class="td-name">@schedule.EmailType.ToString()</td>
                                    <td class="td-name">@schedule.EmailSent</td>
                                    <td class="td-name">@schedule.SendTimestamp</td>
                                    <td class="td-name">
                                        <div class="dropdown show">
                                            <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" asp-area="Email" asp-controller="EmailSchedule" asp-action="Send" asp-route-uid="@schedule.UID">Send Email</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item deleteSchedule" href="javascript:;" data-url="/Email/EmailSchedule/DeleteModal" data-uid="@schedule.UID">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/areas/email/emailschedule/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/email/emailschedule/index.min.js"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $('#navItemEmails').addClass('active');
            $('#navItemEmailSchedules').addClass('active');
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}