@model ELMS.WEB.Areas.Loan.Models.ConfirmationLoanViewModel

@{
    ViewData["Title"] = "Confirm Loan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="m-auto text-white text-center">
            <div class="m-5">
                <h1 class="display-2"><strong>@ViewData["Title"]</strong></h1>
                <h2 class="display-4 text-center">Please confirm the loan details below to create the loan.</h2>
                <p>Once confirmed, the recipient will be sent the confirmation link.</p>
            </div>
        </div>
    </div>
</div>

<form asp-area="Loan" asp-controller="Loan" asp-action="Create">
    <div class="container-fluid">
        <div class="row">
            @if (Model.BlacklistState == ELMS.WEB.Enums.Admin.BlacklistStateEnum.ActiveBlacklist)
            {
                <div class="col-12 text-center align-items-center mt-4">
                    <p class="text-danger m-0"><strong>THIS USER IS BLACKLISTED FROM BEING ASSIGNED TO LOANS</strong></p>
                </div>
            }

            <div class="card">
                <div class="card-body">
                    <table class="display table datatable-confirm-loan responsive hover compact" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Loaner</th>
                                <th>Loanee</th>
                                <th>Equipment</th>
                                <th>Scheduled From</th>
                                <th>Scheduled To</th>
                                <th>Additional Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Model.LoanerEmail
                                    <input type="hidden" asp-for="LoanerEmail" />
                                </td>
                                <td>
                                    @Model.LoaneeEmail
                                    <input type="hidden" asp-for="LoaneeEmail" />
                                </td>
                                <td>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var equipment in Model.SelectedEquipmentList)
                                        {
                                            <li class="list-group-item px-0">
                                                <a class="equipmentDetailsModal text-primary" data-url="/Equipment/Equipment/DetailsModal" data-uid="@equipment.UID" style="cursor: pointer">@equipment.Name</a>
                                            </li>
                                        }
                                    </ul>
                                    @for (int i = 0; i < Model.SelectedEquipmentList.Count; i++)
                                    {
                                        <input type="hidden" asp-for="Equipment" value="@Model.SelectedEquipmentList[i].UID" />
                                    }
                                </td>
                                <td>
                                    @Model.FromTimestamp
                                    <input type="hidden" asp-for="FromTimestamp" />
                                </td>
                                <td>
                                    @Model.ExpiryTimestamp
                                    <input type="hidden" asp-for="ExpiryTimestamp" />
                                </td>
                                <td>
                                    <ul class="pl-3 my-2">
                                        @if (Model.BlacklistState != ELMS.WEB.Enums.Admin.BlacklistStateEnum.None)
                                        {
                                            <li><a class="blacklistModal text-primary" data-url="/Admin/Blacklist/DetailsModal" data-email="@Model.LoaneeEmail" style="cursor: pointer">View Blacklist History</a></li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <h3>How it works</h3>
        <p>Ensure all details for this loan are correct, submit the form below to create a <strong>potential</strong> loan.</p>
        <p>This will create a loan and send a confirmation link to the provided user's address to accept the Terms and Conditions of this loan. Once accepted, the loan will be <strong>active</strong>. Currently it is inactive.</p>
        <input class="btn btn-success" type="submit" value="Create Loan" />
        <a class="btn" asp-area="Loan" asp-controller="Loan" asp-action="Index">Cancel</a>
    </div>
</form>

@section Scripts {
    <environment include="Development">
        <script src="~/js/areas/loan/confirmationloan.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/loan/confirmationloan.min.js"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $('#navItemLoans').addClass('active');
        });
    </script>
}