@model ELMS.WEB.Areas.Loan.Models.DetailsViewModel
@using ELMS.WEB.Enums.Loan
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Loan Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <a class="btn btn-outline-primary w-100" asp-area="Loan" asp-controller="Loan" asp-action="Index"><i class="fas fa-backward mr-2"></i> Back to Loans</a>
        </div>
        <div class="card mt-2">
            <div class="container-fluid card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <ul class="nav nav-pills nav-pills-icons flex-column pl-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tabDetails" data-toggle="tab">
                                    <i class="material-icons">subject</i>
                                    Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabNotes" data-toggle="tab">
                                    <i class="material-icons">note</i>
                                    Extensions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabSettings" data-toggle="tab">
                                    <i class="material-icons">settings</i>
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-10 border-left">
                        <div class="tab-content tab-space pt-2">
                            <div class="tab-pane active" id="tabDetails">
                                <table class="display table datatable-no-options responsive hover compact" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-description">Reference ID</th>
                                            <th class="th-description">Scheduled From</th>
                                            <th class="th-description">Scheduled To</th>
                                            <th class="th-description">Equipment</th>
                                            <th class="th-description">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="td-name">@Model.Loan.UID</td>
                                            <td class="td-name">@Model.Loan.FromTimestamp.ToShortDateString()</td>
                                            <td class="td-name">@Model.Loan.ExpiryTimestamp.ToShortDateString()</td>
                                            <td class="td-name">
                                                <ul class="list-group list-group-flush">
                                                    @foreach (var equipment in Model.Loan.EquipmentList)
                                                    {
                                                        <li class="list-group-item pl-0"><a class="loanDetailsModal text-primary" data-url="/Equipment/Equipment/DetailsModal" data-uid="@equipment.UID" style="cursor: pointer">@equipment.Name</a></li>
                                                    }
                                                </ul>
                                            </td>
                                            <td class="td-name">@Model.Loan.Status.ToString()</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <a class="btn btn-primary" asp-area="Loan" asp-controller="Loan" asp-action="LoanPreview" asp-route-uid="@Model.Loan.UID" data-toggle="tooltip" data-placement="top" title="What a loanee would see when viewing details about their loan.">Loan Preview</a>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabNotes">
                                @if ((await AuthorizationService.AuthorizeAsync(User, "CreateLoanExtensionPolicy")).Succeeded)
                                {
                                    @if (!(Model.Loan.Status == Status.Complete || Model.Loan.Status == Status.EarlyComplete))
                                    {
                                        <div class="mb-2">
                                            <a class="createLoanExtension btn btn-primary text-white" data-url="/Loan/LoanExtension/CreateModal" data-uid="@Model.Loan.UID">New Extension</a>
                                        </div>
                                    }
                                }

                                @if ((await AuthorizationService.AuthorizeAsync(User, "ViewEquipmentPolicy")).Succeeded)
                                {
                                    @if (Model?.Extensions?.Count <= 0)
                                    {
                                        @if (Model.Loan.Status == Status.Complete || Model.Loan.Status == Status.EarlyComplete)
                                        {
                                            <p>Loan is completed and cannot be extended. Please create a new loan.</p>
                                        }
                                        else
                                        {
                                            <p>No extensions have been added to this loan yet.</p>
                                        }
                                    }
                                    else
                                    {
                                        <div class="list-group">
                                            @foreach (var extension in Model.Extensions.OrderByDescending(x => x.NewExpiryDate).ToList())
                                            {
                                                <div class="border list-group-item flex-column align-items-start text-dark mb-2">
                                                    <div class="d-flex w-100 justify-content-between">
                                                        <div class="col-sm-12 col-md-8 p-0">
                                                            <h5 class="mb-1 font-weight-bold">@extension.PreviousExpiryDate.ToShortDateString() <i class="fas fa-arrow-right"></i> @extension.NewExpiryDate.ToShortDateString()</h5>
                                                            <p>Loan extended by @((extension.NewExpiryDate - extension.PreviousExpiryDate).TotalDays) days.</p>
                                                            <small>Made by @extension.ExtenderEmail</small>
                                                        </div>
                                                        <div class="col-sm-12 col-md-4 p-0 text-right">
                                                            <p class="mb-1">Extended by @extension.CreatedTimestamp</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p><span class="text-warning">Denied Access: </span>You do not have access to view loan extensions.</p>
                                }
                            </div>
                            <div class="tab-pane" id="tabHistory">
                                <table class="display table datatable responsive" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-description">Reference ID</th>
                                            <th class="th-description">Loaned by</th>
                                            <th class="th-description">Loaned to</th>
                                            <th class="th-description">From</th>
                                            <th class="th-description">To</th>
                                            <th class="th-description">Extensions Applied</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="td-name">@Guid.NewGuid()</td>
                                            <td class="td-name">Joanna Lumsden</td>
                                            <td class="td-name">Johnny Le</td>
                                            <td class="td-name">@DateTime.Now</td>
                                            <td class="td-name">@DateTime.Now</td>
                                            <td class="td-name"><a href="#">3 (Show me as a modal)</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tabSettings">
                                <a class="deleteEquipment btn btn-danger text-white" data-url="/Equipment/Equipment/DeleteModal" data-uid="@Model.Loan.UID">Force end loan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/areas/loan/details.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/loan/details.min.js"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $('#navItemLoans').addClass('active');
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}