@model ELMS.WEB.Areas.Loan.Models.DetailsViewModel
@using ELMS.WEB.Enums.Loan

@{
    ViewData["Title"] = "Loan Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card my-3">
            <div class="container-fluid card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <ul class="nav nav-pills nav-pills-icons flex-column pl-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tabDetails" data-toggle="tab">
                                    <i class="material-icons">subject</i>
                                    Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabNotes" data-toggle="tab">
                                    <i class="material-icons">note</i>
                                    Extensions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabSettings" data-toggle="tab">
                                    <i class="material-icons">settings</i>
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-10 border-left">
                        <div class="tab-content tab-space pt-2">
                            <div class="tab-pane active" id="tabDetails">
                                <ul class="list-group">
                                    <li class="list-group-item pl-0"><strong>Reference ID: </strong>@Model.Loan.UID</li>
                                    <li class="list-group-item pl-0"><strong>Loan Starting Date: </strong>@Model.Loan.FromTimestamp.ToShortDateString()</li>
                                    <li class="list-group-item pl-0">
                                        <strong>Loan Expiry Date: </strong>@Model.Loan.ExpiryTimestamp.ToShortDateString()
                                        @if (Model.Extensions.Count > 0)
                                        {
                                            <a href="javascript;;">- @Model.Extensions.Count extension(s) applied</a>
                                        }
                                    </li>
                                    <li class="list-group-item pl-0">
                                        <strong>Equipment: </strong>
                                        @foreach (var equipment in Model.Loan.EquipmentList)
                                        {
                                            <a class="equipmentDetails text-primary" data-url="/Equipment/Equipment/DetailsModal" data-uid="@equipment.UID" style="cursor: pointer">@equipment.Name</a>
                                        }
                                    </li>
                                    @if (Model.Loan.Status == Status.Pending)
                                    {
                                        <li class="list-group-item pl-0"><strong>Terms and Conditions Accepted: </strong>@Model.Loan.AcceptedTermsAndConditions</li>
                                    }
                                    <li class="list-group-item pl-0"><strong>Status: </strong>@Model.Loan.Status.ToString()</li>
                                </ul>
                                <hr />
                                <div>
                                    <a class="btn btn-primary" asp-area="Loan" asp-controller="Loan" asp-action="LoanPreview" asp-route-uid="@Model.Loan.UID" data-toggle="tooltip" data-placement="top" title="What a loanee would see when viewing details about their loan.">Loan Preview</a>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabNotes">
                                <div class="mb-2">
                                    <a class="createLoanExtension btn btn-primary text-white" data-url="/Loan/LoanExtension/CreateModal" data-uid="@Model.Loan.UID">New Extension</a>
                                </div>

                                @if (Model?.Extensions?.Count <= 0)
                                {
                                    <div>
                                        <p>No extensions have been added to this loan yet.</p>
                                    </div>
                                }
                                else
                                {
                            <div class="list-group">
                                @foreach (var extension in Model.Extensions.OrderByDescending(x => x.NewExpiryDate).ToList())
                                {
                                    <div class="border list-group-item flex-column align-items-start text-dark mb-2">
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="col-sm-12 col-md-8 p-0">
                                                <h5 class="mb-1 font-weight-bold">@extension.PreviousExpiryDate.ToShortDateString() <i class="fas fa-arrow-right"></i> @extension.NewExpiryDate.ToShortDateString()</h5>
                                                <p>Loan extended by @((extension.NewExpiryDate - extension.PreviousExpiryDate).TotalDays) days.</p>
                                                <small>Made by @extension.ExtenderEmail</small>
                                            </div>
                                            <div class="col-sm-12 col-md-4 p-0 text-right">
                                                <p class="mb-1">Extended by @extension.CreatedTimestamp</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                                }
                            </div>
                            <div class="tab-pane" id="tabHistory">
                                <table class="display table datatable responsive" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-description">Loan ID</th>
                                            <th class="th-description">Loaned by</th>
                                            <th class="th-description">Loaned to</th>
                                            <th class="th-description">From</th>
                                            <th class="th-description">To</th>
                                            <th class="th-description">Extensions Applied</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="td-name">@Guid.NewGuid()</td>
                                            <td class="td-name">Joanna Lumsden</td>
                                            <td class="td-name">Johnny Le</td>
                                            <td class="td-name">@DateTime.Now</td>
                                            <td class="td-name">@DateTime.Now</td>
                                            <td class="td-name"><a href="#">3 (Show me as a modal)</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tabSettings">
                                <a class="deleteEquipment btn btn-danger text-white" data-url="/Equipment/Equipment/DeleteModal" data-uid="@Model.Loan.UID">Force end loan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/areas/loan/details.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/loan/details.min.js"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $('#navItemLoans').addClass('active');
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}