@model ELMS.WEB.Areas.Loan.Models.LoanViewModel
@using ELMS.WEB.Enums.Loan

@{
    ViewData["Title"] = "Loan Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card my-3">
            <div class="container-fluid card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <ul class="nav nav-pills nav-pills-icons flex-column pl-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tabDetails" data-toggle="tab">
                                    <i class="material-icons">subject</i>
                                    Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabNotes" data-toggle="tab">
                                    <i class="material-icons">note</i>
                                    Extensions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabSettings" data-toggle="tab">
                                    <i class="material-icons">settings</i>
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-10 border-left">
                        <div class="tab-content tab-space pt-2">
                            <div class="tab-pane active" id="tabDetails">
                                <div class="mb-4">
                                    <h3 class="my-0">Editable fields</h3>
                                </div>

                                <form asp-area="Loan" asp-controller="Loan" asp-action="Edit" enctype="multipart/form-data">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <input asp-for="UID" type="hidden" />

                                    <div class="form-group">
                                        <label asp-for="FromTimestamp" class="bmd-label-floating"></label>
                                        <input type="date" class="form-control" asp-for="FromTimestamp">
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="ExpiryTimestamp" class="bmd-label-floating"></label>
                                        <input type="date" class="form-control" asp-for="ExpiryTimestamp">
                                    </div>

                                    @if (Model.Status == Status.Pending && !Model.AcceptedTermsAndConditions)
                                    {
                                        <div class="form-check mt-3">
                                            <label class="form-check-label ml-1">
                                                <input class="form-check-input" type="checkbox" asp-for="AcceptedTermsAndConditions">
                                                Terms and Conditions Accepted
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    }

                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-primary">Update Details</button>
                                    </div>
                                </form>
                                <hr />
                                <div>
                                    <h3 class="my-0 mb-1">Non-editable fields</h3>
                                    <ul class="list-group">
                                        <li class="list-group-item pl-0"><strong>Reference ID: </strong>@Model.UID</li>
                                        <li class="list-group-item pl-0">
                                            <strong>Equipment: </strong>
                                            @foreach (var equipment in Model.EquipmentList)
                                            {
                                                <a class="equipmentDetails text-primary" data-url="/Equipment/Equipment/DetailsModal" data-uid="@equipment.UID" style="cursor: pointer">@equipment.Name</a>
                                            }
                                        </li>
                                        @if (Model.Status == Status.Pending)
                                        {
                                            <li class="list-group-item pl-0"><strong>Terms and Conditions Accepted: </strong>@Model.AcceptedTermsAndConditions</li>
                                        }
                                        <li class="list-group-item pl-0"><strong>Status: </strong>@Model.Status.ToString()</li>
                                    </ul>
                                </div>
                                <hr />
                                <div>
                                    <a class="btn btn-primary" asp-area="Loan" asp-controller="Loan" asp-action="LoanPreview" asp-route-uid="@Model.UID" data-toggle="tooltip" data-placement="top" title="What a loanee would see when viewing details about their loan.">Loan Preview</a>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabNotes">
                                <div class="mb-2">
                                    <a class="createLoanExtension btn btn-primary text-white" data-url="/Equipment/Note/CreateModal" data-equipmentuid="@Model.UID">New Extension</a>
                                </div>

                                @if (true)
                                {
                                    <div>
                                        <p>No extensions have been added to this loan yet.</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="list-group">
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="tabHistory">
                                <table class="display table datatable responsive" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-description">Loan ID</th>
                                            <th class="th-description">Loaned by</th>
                                            <th class="th-description">Loaned to</th>
                                            <th class="th-description">From</th>
                                            <th class="th-description">To</th>
                                            <th class="th-description">Extensions Applied</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="td-name">@Guid.NewGuid()</td>
                                            <td class="td-name">Joanna Lumsden</td>
                                            <td class="td-name">Johnny Le</td>
                                            <td class="td-name">@DateTime.Now</td>
                                            <td class="td-name">@DateTime.Now</td>
                                            <td class="td-name"><a href="#">3 (Show me as a modal)</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tabSettings">
                                <a class="deleteEquipment btn btn-danger text-white" data-url="/Equipment/Equipment/DeleteModal" data-uid="@Model.UID">Force end loan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/areas/loan/details.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/loan/details.min.js"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $('#navItemLoans').addClass('active');
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}