@model ELMS.WEB.Areas.Loan.Models.IndexViewModel
@using ELMS.WEB.Enums.Loan
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Loan Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card card-stats mb-0">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="fas fa-sign-in-alt"></i>
                </div>
                <div class="card-category">Active Loans</div>
                <h2 class="card-title">@Model.ActiveLoansCount</h2>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a asp-area="Loan" asp-controller="Loan" asp-action="ActiveLoansView">View active loans</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-stats mb-0">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="fas fa-pause-circle"></i>
                </div>
                <div class="card-category">Pending Loans</div>
                <h2 class="card-title">@Model.PendingLoansCount</h2>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a asp-area="Loan" asp-controller="Loan" asp-action="PendingLoansView">View pending loans</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-stats mb-0">
            <div class="card-header card-header-icon card-header-danger">
                <div class="card-icon">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <div class="card-category">Overdue Loans</div>
                <h2 class="card-title">@Model.OverdueLoansCount</h2>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a asp-area="Loan" asp-controller="Loan" asp-action="ExpiredLoansView">View overdue loans</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row justify-content-between align-items-center col-12 m-0 py-2 px-0">
            <div>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                    <i class="material-icons mr-2">filter_alt</i>Show Filters
                </button>
            </div>
            <div>
                @if ((await AuthorizationService.AuthorizeAsync(User, "CreateLoanPolicy")).Succeeded)
                {
                    <a class="create btn btn-success text-white" asp-area="Loan" asp-controller="Loan" asp-action="CreateView">New Loan</a>
                }
            </div>
        </div>
        <div class="collapse" id="collapseFilters">
            <div class="card mb-3 mt-0">
                <div class="card-header">
                    <h4 class="card-title">Filters</h4>
                </div>
                <div class="card-body">
                    <form asp-area="Loan" asp-controller="Loan" asp-action="FilterIndex">
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-3">
                                <label asp-for="Filter.LoanerEmail"></label>
                                <input type="text" class="form-control" asp-for="Filter.LoanerEmail" />
                            </div>

                            <div class="form-group col-sm-12 col-md-3">
                                <label asp-for="Filter.LoaneeEmail"></label>
                                <input type="text" class="form-control" asp-for="Filter.LoaneeEmail" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-md-3">
                                <label asp-for="Filter.FromTimestamp"></label>
                                <input type="date" class="form-control" asp-for="Filter.FromTimestamp" />
                            </div>
                            <div class="form-group col-sm-6 col-md-3">
                                <label asp-for="Filter.ExpiryTimestamp"></label>
                                <input type="date" class="form-control" asp-for="Filter.ExpiryTimestamp" />
                            </div>

                            <div class="form-group col-sm-6 col-md-3">
                                <label asp-for="Filter.CreatedFromTimestamp"></label>
                                <input type="date" class="form-control" asp-for="Filter.CreatedFromTimestamp" />
                            </div>
                            <div class="form-group col-sm-6 col-md-3">
                                <label asp-for="Filter.CreatedToTimestamp"></label>
                                <input type="date" class="form-control" asp-for="Filter.CreatedToTimestamp" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-3">
                                <label class="w-100" asp-for="Filter.Statuses"></label>
                                <select class="selectpicker" data-width="100%" data-style="select-with-transition" multiple asp-for="Filter.Statuses" asp-items="Html.GetEnumSelectList<ELMS.WEB.Enums.Loan.Status>()">
                                </select>
                            </div>
                            <div class="form-group col-sm-12 col-md-9">
                                <label asp-for="Filter.AcceptedTermsAndConditions"></label>
                                <br />
                                @foreach (var item in Html.GetEnumSelectList<ELMS.WEB.Enums.General.BooleanFilter>().ToList())
                                {
                                    <div class="form-check form-check-inline form-check-radio">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" asp-for="Filter.AcceptedTermsAndConditions" value="@item.Text">
                                            <label>@item.Text</label>
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <button type="submit" class="btn border border-primary btn-primary mr-2">Filter Loan</button>
                        <a class="btn btn-outline-primary" asp-area="Loan" asp-controller="Loan" asp-action="Index">Reset Filters</a>
                    </form>
                </div>
            </div>
        </div>

        <div class="card mt-0">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Loan Table</h4>
            </div>
            <div class="card-body">
                <table class="display table datatable responsive hover compact" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-description font-weight-normal">Reference ID</th>
                            <th class="th-description font-weight-normal">Loanee</th>
                            <th class="th-description font-weight-normal">Equipment</th>
                            <th class="th-description font-weight-normal">Start Date</th>
                            <th class="th-description font-weight-normal">End Date</th>
                            <th class="th-description font-weight-normal">Extensions</th>
                            <th class="th-description font-weight-normal">Status</th>
                            <th class="th-description font-weight-normal">TAC<i class="fas fa-info-circle text-gray ml-2" data-toggle="tooltip" data-placement="left" title="If the user has accepted the Terms and Conditions of the loan."></i></th>
                            <th class="th-description font-weight-normal th-actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var loan in Model.Loans.OrderByDescending(x => x.CreatedTimestamp))
                        {
                            <tr>
                                <td class="td-name">@loan.UID</td>
                                <td class="td-name">@(loan.LoaneeEmail ?? "Not found")</td>
                                <td class="td-name">
                                    <ul class="list-group list-group-flush">
                                        @foreach (var equipment in Model.Loans.FirstOrDefault(x => x.UID == loan.UID).EquipmentList)
                                        {
                                            <li class="list-group-item pl-0"><a class="loanDetailsModal text-primary" data-url="/Equipment/Equipment/DetailsModal" data-uid="@equipment.UID" style="cursor: pointer">@equipment.Name</a></li>
                                        }
                                    </ul>
                                </td>
                                <td class="td-name">@loan.FromTimestamp.ToShortDateString()</td>
                                <td class="td-name">@loan.ExpiryTimestamp.ToShortDateString()</td>
                                <td class="td-name">
                                    <ul class="list-group list-group-flush">
                                        @foreach (var extension in loan.Extensions)
                                        {
                                            <li class="list-group-item pl-0">@extension.PreviousExpiryDate.ToShortDateString() <i class="fas fa-arrow-right"></i> @extension.NewExpiryDate.ToShortDateString()</li>
                                        }
                                    </ul>
                                </td>
                                <td class="td-name">
                                    @if (loan.Status == Status.Complete || loan.Status == Status.EarlyComplete)
                                    {
                                        <span>Completed on @loan.CompletedTimestamp</span>
                                    }
                                    else
                                    {
                                        <span>@loan.Status.ToString()</span>
                                    }
                                </td>
                                <td class="td-name">@(loan.AcceptedTermsAndConditions ? "Accepted" : "Pending")</td>
                                <td class="td-name">
                                    <div class="dropdown show">
                                        <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ACTION
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" asp-area="Loan" asp-controller="Loan" asp-action="DetailsView" asp-route-uid="@loan.UID"><i class="fas fa-pen mr-2"></i> Edit</a>
                                            @if (loan.Status != ELMS.WEB.Enums.Loan.Status.EarlyComplete && loan.Status != ELMS.WEB.Enums.Loan.Status.Complete)
                                            {
                                                <a class="dropdown-item forceComplete" href="javascript:;" data-url="/Loan/Loan/ForceCompleteModal" data-uid="@loan.UID">
                                                    <i class="fas fa-undo mr-2"></i>
                                                    @if (DateTime.Now >= loan.ExpiryTimestamp)
                                                    {
                                                        <span>Complete Loan</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Force Complete Loan</span>
                                                    }
                                                </a>
                                            }

                                            @if (!loan.AcceptedTermsAndConditions)
                                            {
                                                <a class="dropdown-item" asp-area="Loan" asp-controller="Loan" asp-action="AcceptTermsAndConditionsView" asp-route-loanuid="@loan.UID"><i class="fas fa-clipboard-check mr-2"></i>Accept Terms & Conditions</a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/areas/loan/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/loan/index.min.js"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $('#navItemLoans').addClass('active');
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}