@model ELMS.WEB.Areas.Loan.Models.CreationProcess.SelectEquipmentUserViewModel

@{
    ViewData["Title"] = "Create a new Loan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="m-auto text-white text-center">
            <div class="m-5">
                <h1 class="display-2"><strong>@ViewData["Title"]</strong></h1>
                <h2 class="display-4 text-center">Step 1: Select the equipment and user you would like to create a loan for.</h2>
                <p>The user will be required to accept the Terms of Conditions before the loan becomes active.</p>
            </div>
        </div>
    </div>
</div>

<form asp-area="Loan" asp-controller="Loan">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="equipment-container">
        <div id="card-equipment" class="card my-3">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Select Available Equipment</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display table datatable responsive hover compact" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th class="th-description font-weight-normal">Name</th>
                                <th class="th-description font-weight-normal">Status</th>
                                <th class="th-description font-weight-normal">Warranty Expiration Date</th>
                                <th class="th-description font-weight-normal">Purchase Date</th>
                                <th class="th-description font-weight-normal">Purchase Price (&pound;)</th>
                                <th class="th-description font-weight-normal">Replacement Price (&pound;)</th>
                                <th class="th-description font-weight-normal th-actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.EquipmentSelectList.Count; i++)
                            {
                                <tr>
                                    <td class="td-name">
                                        <input type="checkbox" class="checkbox-equipment" data-uid="@Model.EquipmentSelectList[i].UID" />
                                        <input class="equipment-selection" type="hidden" asp-for="Equipment" value="@Model.EquipmentSelectList[i].UID" disabled />
                                    </td>
                                    <td class="td-name">@Model.EquipmentSelectList[i].Name</td>
                                    <td class="td-name">@Model.EquipmentSelectList[i].Status.ToString()</td>
                                    <td class="td-name">@Model.EquipmentSelectList[i].WarrantyExpirationDate.ToShortDateString()</td>
                                    <td class="td-name">@Model.EquipmentSelectList[i].PurchaseDate.ToShortDateString()</td>
                                    <td class="td-name">@Model.EquipmentSelectList[i].PurchasePrice</td>
                                    <td class="td-name">@Model.EquipmentSelectList[i].ReplacementPrice</td>
                                    <td class="td-actions">
                                        <a class="btn btn-primary" asp-area="Equipment" asp-controller="Equipment" asp-action="DetailsView" asp-route-uid="@Model.EquipmentSelectList[i].UID" target="_blank"><i class="fas fa-eye p-1"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="user-container" style="display: none">
        <hr />
        <div id="card-user" class="card my-3">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Select User</h4>
            </div>
            <div class="card-body">
                <div id="accordion" role="tablist">
                    <div class="card card-collapse">
                        <div class="card-header pt-0" role="tab" id="headingExistingUser">
                            <h5 class="mb-0">
                                <a id="collapseLinkExistingUser" data-toggle="collapse" href="#collapseExistingUser" aria-expanded="true" aria-controls="collapseExistingUser">
                                    Option 1: Select by existing user
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseExistingUser" class="collapse show" role="tabpanel" aria-labelledby="headingExistingUser" data-parent="#accordion">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="display table datatable responsive hover compact" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="th-description font-weight-normal">Select</th>
                                                <th class="th-description font-weight-normal">Username</th>
                                                <th class="th-description font-weight-normal">Normalised Email</th>
                                                <th class="th-description font-weight-normal">Email Confirmed</th>
                                                <th class="th-description font-weight-normal">Additional Information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in Model.UserSelectList)
                                            {
                                                <tr>
                                                    <td class="td-name">
                                                        <input class="user-radio" type="radio" asp-for="LoaneeEmailAddress" value="@user.Email">
                                                    </td>
                                                    <td class="td-name">@user.UserName</td>
                                                    <td class="td-name">@user.NormalizedEmail</td>
                                                    <td class="td-name">@user.EmailConfirmed</td>
                                                    <td class="td-name">
                                                        @if (Model.Blacklists.Any(x => x.Active && x.Email.ToUpper() == user.NormalizedEmail))
                                                        {
                                                            <span class="badge badge-danger">Blacklisted</span>
                                                        }
                                                        else if (Model.Blacklists.Any(x => x.Email.ToUpper() == user.NormalizedEmail))
                                                        {
                                                            <span class="badge badge-warning">Previously blacklisted</span>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-collapse">
                        <div class="card-header" role="tab" id="headingManualUser">
                            <h5 class="mb-0">
                                <a id="collapseLinkManualUser" class="collapsed" data-toggle="collapse" href="#collapseManualUser" aria-expanded="false" aria-controls="collapseManualUser">
                                    Option 2: Select by manual details
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseManualUser" class="collapse" role="tabpanel" aria-labelledby="headingManualUser" data-parent="#accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="LoaneeEmailAddress"></label>
                                    <input type="email" class="manualUserEmail form-control" asp-for="LoaneeEmailAddress" placeholder="AstonAIM@aston.ac.uk">
                                    <small>The confirmation link will be sent to this email. Ensure it is correct</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $('#navItemLoans').addClass('active');

        // Check for checked equipment
        if ($('.checkbox-equipment:checked').length > 0) {
            $('.user-container').show()
        }
        // Check for manualuseremail or radiocheckeduser
        if ($('.user-radio:checked').length > 0) {
            $('.loan-period-container').show()
            $('.submit-container').show()
        }

        $('.checkbox-equipment').click(function () {
            if ($(".checkbox-equipment:checked").length > 0) {
                $('.user-container').show();
            }
            else {
                $('.user-container').hide();
            }
        })
    </script>
}