@model ELMS.WEB.Areas.Admin.Models.User.DetailsViewModel

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><strong>Equipment Details</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="accordion" role="tablist">
            <div class="card card-collapse">
                <div class="card-header" role="tab" id="headingDetails">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails">
                            General Details
                            <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                    </h5>
                </div>

                <div id="collapseDetails" class="collapse show" role="tabpanel" aria-labelledby="headingDetails" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-group rounded-0">
                            <li class="list-group-item border my-1"><strong>ID: </strong><span>@Model.User.Id</span></li>
                            <li class="list-group-item border my-1"><strong>Email: </strong><span>@Model.User.Email</span></li>
                            <li class="list-group-item border my-1"><strong>Normalised Email: </strong><span>@Model.User.NormalizedEmail</span></li>
                            <li class="list-group-item border my-1"><strong>Email Confirmed: </strong><span>@Model.User.EmailConfirmed</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card card-collapse">
                <div class="card-header" role="tab" id="headingLoans">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseLoans" aria-expanded="false" aria-controls="collapseLoans">
                            Loans
                            <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                    </h5>
                </div>
                <div id="collapseLoans" class="collapse" role="tabpanel" aria-labelledby="headingLoans" data-parent="#accordion">
                    <div class="card-body">
                        <p><strong>Current Loans</strong></p>
                        @{
                            var currentLoans = Model.Loans.Where(x => x.Status == ELMS.WEB.Enums.Loan.Status.ActiveLoan || x.Status == ELMS.WEB.Enums.Loan.Status.Pending)?.ToList();
                        }
                        @if (currentLoans != null && currentLoans.Count > 0)
                        {
                            <ul class="list-group rounded-0">
                                @foreach (var currentLoan in currentLoans)
                                {
                                    <li class="list-group-item border my-1">
                                        <span class="d-block"><strong>ID: </strong>@currentLoan.UID</span>
                                        <span class="d-block"><strong>Loan period: </strong>@currentLoan.FromTimestamp - @currentLoan.ExpiryTimestamp</span>
                                        <span class="d-block"><a asp-area="Loan" asp-controller="Loan" asp-action="DetailsView" asp-route-uid="@currentLoan.UID" target="_blank">View loan</a></span>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>This user is not assigned to any active/pending loans.</p>
                        }
                        <br />
                        <p><strong>Past Loans</strong></p>
                        @{
                            var historicLoans = Model.Loans.Where(x => x.Status == ELMS.WEB.Enums.Loan.Status.Complete || x.Status == ELMS.WEB.Enums.Loan.Status.EarlyComplete)?.ToList();
                        }
                        @if (historicLoans != null || historicLoans?.Count > 0)
                        {
                            <ul class="list-group rounded-0">
                                @foreach (var historicLoan in historicLoans)
                                {
                                    <li class="list-group-item border my-1">
                                        <span class="d-block"><strong>Reference ID: </strong>@Model.User.Id</span>
                                        <span class="d-block"><strong>Loan period: </strong>@historicLoan.FromTimestamp - @historicLoan.ExpiryTimestamp</span>
                                        <span class="d-block"><strong>Loan Equipment: </strong>@(string.Join(", ", historicLoan.EquipmentList.Select(x => x.Name)))</span>
                                        <span class="d-block"><a asp-area="Loan" asp-controller="Loan" asp-action="DetailsView" asp-route-uid="@historicLoan.UID" target="_blank">View loan</a></span>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>This user has no historic loans.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>