@model ELMS.WEB.Areas.Admin.Models.User.DetailsViewModel

@{
    ViewData["Title"] = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div>
            <a class="btn btn-outline-primary w-100" asp-area="Admin" asp-controller="User" asp-action="Index"><i class="fas fa-backward mr-2"></i> Back to Users</a>
        </div>
        <div class="card my-3">
            <div class="container-fluid card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <ul class="nav nav-pills nav-pills-icons flex-column pl-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tabDetails" data-toggle="tab">
                                    <i class="material-icons">subject</i>
                                    Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabLoans" data-toggle="tab">
                                    <i class="material-icons">note</i>
                                    Loans
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabPermissions" data-toggle="tab">
                                    <i class="material-icons">note</i>
                                    Permissions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabSettings" data-toggle="tab">
                                    <i class="material-icons">settings</i>
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-10 border-left">
                        <div class="tab-content tab-space pt-2">
                            <div class="tab-pane active" id="tabDetails">
                                <table class="display table datatable-details responsive hover compact">
                                    <thead>
                                        <tr>
                                            <th class="th-description">Reference</th>
                                            <th class="th-description">Email</th>
                                            <th class="th-description">Normalised Email</th>
                                            <th class="th-description th-actions">Verified Email?</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="td-name">@Model.User.Id</td>
                                            <td class="td-name">@Model.User.Email</td>
                                            <td class="td-name">@Model.User.NormalizedEmail</td>
                                            <td class="td-name">@Model.User.EmailConfirmed</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tabLoans">
                                <table class="display table datatable responsive hover compact" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-description font-weight-normal">Reference ID</th>
                                            <th class="th-description font-weight-normal">Loaner</th>
                                            <th class="th-description font-weight-normal">Equipment</th>
                                            <th class="th-description font-weight-normal">Start Date</th>
                                            <th class="th-description font-weight-normal">End Date</th>
                                            <th class="th-description font-weight-normal">
                                                <span>Status</span>
                                                <i class="fas fa-info-circle text-gray" data-toggle="tooltip" data-placement="left" data-html="true" title="<strong>Statuses: </strong>Pending, Inactive, Active, Complete, Manually Completed"></i>
                                            </th>
                                            <th class="th-description font-weight-normal th-actions">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var loan in Model.Loans.OrderByDescending(x => x.CreatedTimestamp))
                                        {
                                            <tr>
                                                <td class="td-name">@loan.UID</td>
                                                <td class="td-name">@loan.LoanerEmail</td>
                                                <td class="td-name">
                                                    <ul class="list-group list-group-flush">
                                                        @foreach (var equipment in Model.Loans.FirstOrDefault(x => x.UID == loan.UID).EquipmentList)
                                                        {
                                                            <li class="list-group-item px-0"><a class="loanDetailsModal text-primary" data-url="/Equipment/Equipment/DetailsModal" data-uid="@equipment.UID" style="cursor: pointer">@equipment.Name</a></li>
                                                        }
                                                    </ul>
                                                </td>
                                                <td class="td-name">@loan.FromTimestamp</td>
                                                <td class="td-name">@loan.ExpiryTimestamp</td>
                                                <td class="td-name">@loan.Status.ToString()</td>
                                                <td class="td-name">
                                                    <div class="dropdown">
                                                        <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Action
                                                        </a>

                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item" asp-area="Loan" asp-controller="Loan" asp-action="DetailsView" asp-route-uid="@loan.UID">Edit</a>
                                                            <a class="dropdown-item" href="javascript:;">Force Complete Loan</a>
                                                            <a class="dropdown-item" asp-area="Loan" asp-controller="Loan" asp-action="AcceptTermsAndConditionsView" asp-route-loanuid="@loan.UID">Terms & Conditions</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="tabPermissions">
                                <form asp-area="Admin" asp-controller="User" asp-action="EditUserPermissions">
                                    <input type="hidden" asp-for="UserClaims.UserID" />
                                    <table class="display table datatable-permissions responsive hover compact w-100">
                                        <thead>
                                            <tr>
                                                <th class="th-description">
                                                    <span>Selection</span>
                                                    <input class="checkbox-permission-selectAll ml-2" type="checkbox" />
                                                </th>
                                                <th class="th-description">Category</th>
                                                <th class="th-description">Permission Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.UserClaims.Claims.Count; i++)
                                            {
                                                <tr>
                                                    <td class="td-name">
                                                        <input class="checkbox-permission" type="checkbox" asp-for="@Model.UserClaims.Claims[i].IsSelected" />
                                                        <input type="hidden" asp-for="@Model.UserClaims.Claims[i].ClaimType" />
                                                        <input type="hidden" asp-for="@Model.UserClaims.Claims[i].ClaimValue" />
                                                    </td>
                                                    <td class="td-name">@Model.UserClaims.Claims[i].ClaimType</td>
                                                    <td class="td-name">@Model.UserClaims.Claims[i].ClaimValue</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                    <input class="btn btn-primary" type="submit" value="Update Permissions" />
                                </form>
                            </div>
                            <div class="tab-pane" id="tabSettings">
                                DETAILS
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/areas/admin/user/details.js"></script>
    <script>
        $(document).ready(function () {
            $('#navItemAdmin').addClass('active');
            $('#navItemUserManagement').addClass('active');

            $('.datatable-permissions').DataTable({
                paging: false,
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.childRow
                    }
                }
            });
        });

        $('.datatable-details').DataTable({
            searching: false,
            paging: false,
            info: false
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}