@model ELMS.WEB.Areas.Admin.Models.User.IndexViewModel

@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="w-100 justify-content-between">
            <div class="pull-right">
                <a class="createUser btn btn-success text-white" data-url="/Admin/User/CreateModal">New User</a>
            </div>
        </div>

        <div class="card mt-2">
            <div class="card-header">
                <h4 class="card-title">All Users</h4>
                <p class="category">Each user can be restricted access to certain parts of the system via roles and claims.</p>
            </div>
            <div class="card-body">
                <table class="display table datatable responsive hover compact">
                    <thead>
                        <tr>
                            <th class="th-description">ID</th>
                            <th class="th-description">Email</th>
                            <th class="th-description">Normalised Email</th>
                            <th class="th-description">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td class="td-name">@user.Id</td>
                                <td class="td-name">@user.Email</td>
                                <td class="td-name">@user.NormalizedEmail</td>
                                <td class="td-name">
                                    <div class="dropdown show">
                                        <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="javascript:;" data-url="/Admin/User/DetailsModal" data-uid="@user.Id">Preview</a>
                                            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="DetailsView" asp-route-uid="@user.Id">Edit</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/areas/admin/user/index.js"></script>
    <script>
        $(document).ready(function () {
            $('#navItemUsers').addClass('active');
            $('#navItemUserManagement').addClass('active');
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}