@model ELMS.WEB.Areas.Report.Models.EquipmentValueReportViewModel

@{
    ViewData["Title"] = "Equipment Value Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="m-auto text-white text-center">
            <div class="m-5">
                <h1 class="display-2"><strong>@ViewData["Title"]</strong></h1>
                <p>A report on current inventory within the lab, with value and replacement value, and whether they are out on loan.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <table class="display table datatable-export responsive hover compact" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-description">Name</th>
                            <th class="th-description">Serial Number</th>
                            <th class="th-description">Purchase Price (&pound;)</th>
                            <th class="th-description">Replacement Price (&pound;)</th>
                            <th class="th-description">Purchase Date</th>
                            <th class="th-description">Warranty Expiration Date</th>
                            <th class="th-description">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reportItem in Model.ReportItems)
                        {
                            <tr>
                                <td class="td-name">@reportItem.Name</td>
                                <td class="td-name">@reportItem.SerialNumber</td>
                                <td class="td-name">@reportItem.PurchasePrice</td>
                                <td class="td-name">@reportItem.PurchasePrice</td>
                                <td class="td-name">@reportItem.PurchaseDate</td>
                                <td class="td-name">@reportItem.WarrantyExpirationDate</td>
                                <td class="td-name">
                                    @if (reportItem.Status == ELMS.WEB.Enums.Equipment.Status.Available)
                                    {
                                        <span class="badge badge-success">Available</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-primary">@reportItem.Status</span>
                                    }
                                </td>
                            </tr>
                        }
                        <tr style="display: none">
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong>Total: @Model.ReportItems.Sum(x => x.PurchasePrice)</strong></td>
                            <td class="td-name"><strong>Total: @Model.ReportItems.Sum(x => x.PurchasePrice)</strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong>Total: @Model.ReportItems.Sum(x => x.PurchasePrice)</strong></td>
                            <td class="td-name"><strong>Total: @Model.ReportItems.Sum(x => x.PurchasePrice)</strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="row">

    </div>
</div>