@model ELMS.WEB.Areas.Report.Models.EquipmentValueReportViewModel

@{
    ViewData["Title"] = "Equipment Value Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="m-auto text-white text-center">
            <div class="m-5">
                <h1 class="display-2"><strong>@ViewData["Title"]</strong></h1>
                <p>A report on current inventory within the lab, with value and replacement value, and whether they are out on loan.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="card mb-0">
            <div class="card-header">
                <h3 class="card-title">Filters</h3>
                <p class="category">Fields will filter based on whether the attribute (e.g. Equipment name) <u>contains</u> the given input.</p>
            </div>
            <div class="card-body">
                <form asp-area="Report" asp-controller="Report" asp-action="EquipmentValueReportFilter">
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-3">
                            <label asp-for="Filter.Name"></label>
                            <input type="text" class="form-control" asp-for="Filter.Name" />
                        </div>
                        <div class="form-group col-sm-12 col-md-3">
                            <label asp-for="Filter.SerialNumber"></label>
                            <input type="text" class="form-control" asp-for="Filter.SerialNumber" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6 col-md-3">
                            <label asp-for="Filter.PurchasePriceFrom"></label>
                            <input type="number" step="0.01" class="form-control" asp-for="Filter.PurchasePriceFrom" />
                        </div>
                        <div class="form-group col-sm-6 col-md-3">
                            <label asp-for="Filter.PurchasePriceTo"></label>
                            <input type="number" step="0.01" class="form-control" asp-for="Filter.PurchasePriceTo" />
                        </div>

                        <div class="form-group col-sm-6 col-md-3">
                            <label asp-for="Filter.ReplacementPriceFrom"></label>
                            <input type="number" step="0.01" class="form-control" asp-for="Filter.ReplacementPriceFrom" />
                        </div>
                        <div class="form-group col-sm-6 col-md-3">
                            <label asp-for="Filter.ReplacementPriceTo"></label>
                            <input type="number" step="0.01" class="form-control" asp-for="Filter.ReplacementPriceTo" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6 col-md-3">
                            <label asp-for="Filter.PurchaseDateFrom"></label>
                            <input type="date" step="0.01" class="form-control" asp-for="Filter.PurchaseDateFrom" />
                        </div>
                        <div class="form-group col-sm-6 col-md-3">
                            <label asp-for="Filter.PurchaseDateTo">Scheduled To</label>
                            <input type="date" step="0.01" class="form-control" asp-for="Filter.PurchaseDateTo" />
                        </div>

                        <div class="form-group col-sm-6 col-md-3">
                            <label asp-for="Filter.WarrantyExpirationDateFrom"></label>
                            <input type="date" step="0.01" class="form-control" asp-for="Filter.WarrantyExpirationDateFrom" />
                        </div>
                        <div class="form-group col-sm-6 col-md-3">
                            <label asp-for="Filter.WarrantyExpirationDateTo"></label>
                            <input type="date" step="0.01" class="form-control" asp-for="Filter.WarrantyExpirationDateTo" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-3">
                            <label class="w-100" asp-for="Filter.Statuses"></label>
                            <select class="selectpicker" data-width="100%" data-style="select-with-transition" multiple asp-for="Filter.Statuses" asp-items="Html.GetEnumSelectList<ELMS.WEB.Enums.Equipment.Status>()">
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn border border-primary btn-primary mr-2">Filter Report</button>
                    <a class="btn btn-outline-primary" asp-area="Report" asp-controller="Report" asp-action="EquipmentValueReport">Reset Filters</a>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <table class="display table datatable-export responsive hover compact" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-description">Name</th>
                            <th class="th-description">Serial Number</th>
                            <th class="th-description">Warranty Expiration Date</th>
                            <th class="th-description">Purchase Date</th>
                            <th class="th-description">Purchase Price (&pound;)</th>
                            <th class="th-description">Replacement Price (&pound;)</th>
                            <th class="th-description">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reportItem in Model.ReportItems)
                        {
                            <tr>
                                <td class="td-name">@reportItem.Name</td>
                                <td class="td-name">@reportItem.SerialNumber</td>
                                <td class="td-name">@reportItem.WarrantyExpirationDate.ToShortDateString()</td>
                                <td class="td-name">@reportItem.PurchaseDate.ToShortDateString()</td>
                                <td class="td-name">@reportItem.PurchasePrice</td>
                                <td class="td-name">@reportItem.PurchasePrice</td>
                                <td class="td-name">@reportItem.Status.ToString()</td>
                            </tr>
                        }
                        <tr style="display: none">
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong>Total: @Model.ReportItems.Sum(x => x.PurchasePrice)</strong></td>
                            <td class="td-name"><strong>Total: @Model.ReportItems.Sum(x => x.ReplacementPrice)</strong></td>
                            <td class="td-name"><strong></strong></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong></strong></td>
                            <td class="td-name"><strong>Total: @Model.ReportItems.Sum(x => x.PurchasePrice)</strong></td>
                            <td class="td-name"><strong>Total: @Model.ReportItems.Sum(x => x.ReplacementPrice)</strong></td>
                            <td class="td-name"><strong></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#navItemReports').addClass('active');
            $('#navCollapseReports').addClass('show');
            $('#navItemReportLabInventory').addClass('active');
        });
    </script>
}